body {
  margin: 0;
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, 'Segoe UI',  'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.appbar{
        background-color :#fff;
    }

.searchInput{
        opacity: 0.6;
        padding:0px 8px;
        font-size:0.8rem;
        }
.searchInput :hover{
  
    background-color:#f2f2f2;
}

.grid{
        align-items: center;
    }
